<ion-content padding class="animated fadeIn login auth-page">

    <div class="login-content">

        <!-- Idiomas -->
        <div class="login-idioma">
            <ion-buttons end>
                <ion-icon name="{{iconeIdioma}}">
                    <ion-select [(ngModel)]="idiomas" (ionChange)="idiomasChange($event)" [ngModelOptions]="{standalone: true}" [disabled]="!opcoesIdiomas"
                        interface="action-sheet" cancelText="{{ 'cancelar' | translate }}">
                        <ion-option value="{{idioma.valor}}" *ngFor="let idioma of opcoesIdiomas">{{idioma.texto}}</ion-option>
                    </ion-select>
                </ion-icon>
            </ion-buttons>
        </div>

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo"></div>
        </div>

        <!-- Login form -->
        <form [formGroup]="loginForm" class="list-form">
            <ion-item [ngClass]="{'error-border':!loginForm.controls.username.valid && loginForm.controls.username.touched}">
                <ion-label floating>
                    <ion-icon name="person" item-start></ion-icon>
                    {{ "usuario" | translate }}
                </ion-label>
                <ion-input formControlName="username" (keyup.enter)="redimencionarPagina()" type="text"></ion-input>
            </ion-item>

            <ion-item [ngClass]="{'error-border':!loginForm.controls.password.valid && loginForm.controls.password.touched}">
                <ion-label floating>
                    <ion-icon name="lock" item-start></ion-icon>
                    {{ "senha" | translate }}
                </ion-label>
                <ion-input formControlName="password" (keyup.enter)="redimencionarPagina()" type="password"></ion-input>
            </ion-item>

            <div text-center margin-top>
                <span (click)="qrCodeClick()" ion-text tappable>
                    <strong>
                        <u> {{ "lerQrCode" | translate }}</u>
                    </strong>
                </span>
                <span> {{ "ou" | translate }} </span>
                <span (click)="limparClick()" ion-text tappable>
                    <strong>
                        <u>{{ "limparPortais" | translate }}</u>
                    </strong>
                </span>
            </div>

            <ion-item>
                <ion-label>
                    <ion-icon name="key" item-start></ion-icon>
                    {{ "portais" | translate }}
                </ion-label>
                <ion-select [(ngModel)]="portais" [ngModelOptions]="{standalone: true}" [disabled]="!opcoesPortais" interface="action-sheet"
                    cancelText="{{ 'cancelar' | translate }}">
                    <ion-option value="{{portal.valor}}" *ngFor="let portal of opcoesPortais">{{portal.texto}}</ion-option>
                </ion-select>
            </ion-item>
        </form>

        <div class="btn-login">
            <button [disabled]="!loginForm.valid || !opcoesPortais || desabilitarLogin" (click)="loginClick()" color="cushman-1" ion-button
                icon-start block tappable>
                <ion-icon></ion-icon>
                {{ "login" | translate }}
            </button>
        </div>
    </div>
</ion-content>