<ion-header>
  <ion-navbar color="cushman-1">
    <ion-title>Anexos {{ chamadoId }}</ion-title>
    <ion-buttons end>
      <button (click)="fotoClick()" *ngIf="tipoAnexos == 'fotos' && origemOffline" ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="!origemOffline" color="cushman-1">
    <ion-segment [(ngModel)]="tipoAnexos" color="cushman-4">
      <ion-segment-button value="anexos">
        Anexos
      </ion-segment-button>
      <ion-segment-button value="fotos">
        Fotos
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
      <button (click)="fileInput.click()" *ngIf="tipoAnexos == 'anexos' && habilitarChamado && alterarChamado" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
      <button (click)="fotoClick()" *ngIf="tipoAnexos == 'fotos' && habilitarChamado && alterarChamado" ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="tipoAnexos == 'anexos' && exibirMsgAnexos">
    <ion-icon name="construct" color="cushman-1" item-start></ion-icon>
    {{ msgNenhumItem }}
    <ion-icon (click)="atualizarClick()" name="refresh-circle" color="cushman-2" item-end></ion-icon>
  </ion-item>

  <ion-list *ngIf="tipoAnexos == 'anexos' && anexos">
    <ion-item-sliding *ngFor="let anexo of anexos">
      <ion-item class="item-lista-anexo">
        <h2>{{ anexo.NomeAnexo }}</h2>
        <p>{{ anexo.Comentarios}}</p>
        <ion-icon (click)="acessarClick(anexo)" name="link" color="cushman-2" item-end></ion-icon>
        <ion-icon (click)="excluirClick(anexo, false)" *ngIf="habilitarChamado && alterarChamado" name="trash" color="cushman-1" item-end></ion-icon>
      </ion-item>

      <ion-item-options side="left">
        <button (click)="excluirClick(anexo, false)" *ngIf="habilitarChamado && alterarChamado" ion-button color="cushman-1">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
        <button (click)="acessarClick(anexo)" ion-button color="cushman-2">
          <ion-icon name="link"></ion-icon>
          Acessar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item *ngIf="tipoAnexos == 'fotos' && exibirMsgFotos">
    <ion-icon name="construct" color="cushman-1" item-start></ion-icon>
    {{ msgNenhumItem }}
    <ion-icon (click)="atualizarClick()" name="refresh-circle" color="cushman-2" item-end></ion-icon>
  </ion-item>


   <ion-grid *ngIf="tipoAnexos == 'fotos' && fotos">
    <ion-row>
       <ion-col col-6 col-md-4 col-xl-3 *ngFor="let foto of fotos">
        <div (click)="abrirFotoClick(foto.sequencia)" class="thumb-fotos" [style.background-image]="'url('+ foto.url +')'"></div>
       
        <ion-fab *ngIf="(habilitarChamado && alterarChamado) || (origemOffline && !foto.AnexoID)"  right top>
        <button (click)="excluirClick(foto, true)" mini ion-fab color="cushman-1" class="icone-excluir-foto">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-fab>
      </ion-col> 
    </ion-row>
  </ion-grid>

  <div class="item-altura-fab"></div>
  <div hidden><input type="file" id="fileUpload" #fileInput (change)="anexoChange($event)" /></div>
  
  <ion-fab *ngIf="tipoAnexos == 'anexos' && habilitarChamado && alterarChamado" bottom right>
    <button (click)="fileInput.click()" ion-fab color="cushman-2">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab *ngIf="tipoAnexos == 'fotos' && (habilitarChamado && alterarChamado || origemOffline)" bottom right>
    <button (click)="fotoClick()" ion-fab color="cushman-2">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
</ion-content>