<ion-header>
  <ion-navbar color="cushman-1">
    <ion-buttons start>
      <button (click)="searchClick()" ion-button icon-only tappable>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{nomePortal}}</ion-title>
    <ion-buttons end>
      <button (click)="qrCodeClick()" ion-button icon-only tappable>
        <ion-icon name="custom-qrcode"></ion-icon>
      </button>
      <button (click)="logoutClick()" ion-button icon-only tappable>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-header>
  <ion-toolbar *ngIf="exibirSearch" color="cushman-1">
    <ion-buttons start>
      <button (click)="searchClick()" ion-button icon-only tappable>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="search" (search)="buscarChamados($event)" placeholder="{{ 'numeroChamado' | translate }}"></ion-searchbar>
    <ion-buttons end>
      <button (click)="buscarChamadosClick()" ion-button icon-only tappable>
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="exibirMsg">
    <ion-icon name="construct" color="cushman-1" item-start></ion-icon>
    {{ 'msgNenhumItem' | translate }}
    <ion-icon (click)="atualizarClick()" name="refresh-circle" color="cushman-2" item-end tappable></ion-icon>
  </ion-item>

  <ion-list *ngIf="chamados">
    <ion-item-sliding *ngFor="let chamado of chamados">
      <button (click)="abrirDetalhesClick(chamado)" class="item-lista-chamado" ion-item tappable>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              <div start class="item-lista-dados">
                <h1 ion-text>
                  <b>{{ chamado.ChamadoID}}</b>
                </h1>
                <p ion-text>{{ chamado.Area }} / {{ chamado.NomeCompleto }}</p>
              </div>
            </ion-col>

            <ion-col col-4>
              <p ion-text>
                <ion-icon ios="ios-alarm-outline" name="alarm"></ion-icon> {{ chamado.Nivel }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <p ion-text>
                <ion-icon ios="ios-calendar-outline" name="calendar"></ion-icon>
                {{ chamado.DataAbertura | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </ion-col>
            <ion-col col-6>
              <p ion-text>
                <ion-icon ios="ios-calendar-outline" name="calendar"></ion-icon>
                {{ chamado.DataPrevistaAtendimento | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 *ngIf="chamado.AguardandoAprovacao">
              <p ion-text end>
                <ion-icon name="flag" color="cushman-1"></ion-icon> {{ "aguardandoAprovacao" | translate }}
              </p>
            </ion-col>
            <ion-col col-6 *ngIf="!chamado.AguardandoAprovacao">
              <p ion-text end>
                <ion-icon name="build" color="cushman-2"></ion-icon> {{ chamado.Nome }}
              </p>
            </ion-col>
            <ion-col col-6 *ngIf="chamado.Offline">
              <p ion-text end>
                <ion-icon name="wifi" color="cushman-1"></ion-icon> {{ chamado.NomeUsuarioOffline }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>

      <ion-item-options side="left">
        <button (click)="offlineClick(chamado)" [disabled]="!alterarChamado || !chamado.HabilitarChamado || chamado.AguardandoAprovacao"
          color="cushman-1" ion-button tappable>
          <ion-icon name="wifi"></ion-icon>
          Offline
        </button>
        <button (click)="historicoClick(chamado)" color="cushman-2" ion-button tappable>
          <ion-icon ios="ios-timer-outline" name="timer"></ion-icon>
          Hist.
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll *ngIf="chamados" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="item-altura-fab"></div>

  <ion-fab *ngIf="adicionarChamado && perfilAdicionar" bottom right>
    <button (click)="novoChamadoClick()" color="cushman-2" ion-fab tappable>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>