<ion-header>

  <ion-navbar color="cushman-1">
    <ion-title>{{ chamadoId }}</ion-title>
    <ion-buttons *ngIf="chamadoId" end>
       <button (click)="anexosClick()" ion-button icon-only>
        <ion-icon name="attach"></ion-icon>
      </button>
      <button (click)="movimentacaoClick()" ion-button icon-only>
        <ion-icon ios="ios-hammer-outline" name="hammer"></ion-icon>
      </button>
      <!-- <button (click)="materiaisClick()" ion-button icon-only>
        <ion-icon ios="ios-briefcase-outline" name="briefcase"></ion-icon>
      </button> -->
        <button (click)="rotinaClick()" *ngIf="chamado && chamado.TipoChamado == tipoChamadoPreventivo" ion-button icon-only>
          <ion-icon ios="ios-paper-outline" name="paper"></ion-icon>
        </button>
      <!-- <button (click)="historicoClick()" ion-button icon-only>
        <ion-icon ios="ios-timer-outline" name="timer"></ion-icon>
      </button> -->
      <button ion-button icon-only (click)="popoverClick($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item *ngIf="exibirMsg">
    <ion-icon name="construct" color="cushman-1" item-start></ion-icon>
    {{ msgNenhumItem }}
    <ion-icon (click)="atualizarClick()" name="refresh-circle" color="cushman-2" item-end></ion-icon>
  </ion-item>

  <div *ngIf="chamado">
    <ion-card *ngIf="chamado">
      <ion-card-header class="card-header-chamado">
        <ion-icon ios="ios-alarm-outline" name="alarm" class="card-icone" item-start></ion-icon> Tempos
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1 ion-text>
                SLA {{chamado.Criticidade}} - {{chamado.Nivel}}
              </h1>
            </ion-col>

            <ion-col col-6>
              <p ion-text>
                <b>
                  Data de Abertura
                </b>
              </p>
              <p ion-text>
                {{ chamado.DataAbertura | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </ion-col>
            <ion-col col-6>
              <p ion-text>
                <b>
                  Prev. de Atendimento
                </b>
              </p>
              <p ion-text>
                {{ chamado.DataPrevistaAtendimento | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-note class="card-note">
                {{ chamado.StatusChamado }}
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header-chamado">
        <ion-icon ios="ios-locate-outline" name="locate" class="card-icone" item-start></ion-icon> Localização
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1 ion-text>
                {{ nomePortal }}
              </h1>
            </ion-col>

            <ion-col col-10>
              <p ion-text>
                {{ chamado.NomePontoVenda }}
              </p>
              <p ion-text>
                {{ chamado.Endereco }}
              </p>
              <p ion-text>
                {{ chamado.Cidade }} / {{ chamado.Estado }}
              </p>
              <p ion-text>
                {{ chamado.CEP }}
              </p>

            </ion-col>
            <ion-col col-2>
              <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1">
                <ion-icon (click)="mapaClick(chamado)" name="pin" color="cushman-1" class="card-icone-texto"></ion-icon>
              </h1>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header-chamado">
        <ion-icon name="contact" class="card-icone" item-start></ion-icon> Contato
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <p ion-text>
                <b>
                  Solicitante
                </b>
              </p>
              <p ion-text>
                {{ chamado.NomeUsuarioSolicitante }}
              </p>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col col-10>
              <p ion-text>
                <b>
                  E-mail
                </b>
              </p>
              <p ion-text>
                {{ chamado.EmailSolicitante }}
              </p>
            </ion-col>
            <ion-col col-2>
              <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1">
                <a href="mailto:{{ chamado.EmailSolicitante }}">
                  <ion-icon name="at" color="cushman-2" class="card-icone-texto"></ion-icon>
                </a>
              </h1>
            </ion-col>
          </ion-row>

          <ion-row>

            <ion-col col-10>
              <p ion-text>
                <b>
                  Fone
                </b>
              </p>
              <p ion-text>
                {{ chamado.TelefoneSolicitante }}
              </p>
            </ion-col>
            <ion-col col-2>
              <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1">
                <a href="tel:{{ chamado.TelefoneSolicitante }}">
                  <ion-icon name="call" color="cushman-2" class="card-icone-texto"></ion-icon>
                </a>
              </h1>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header-chamado">
        <ion-icon name="build" class="card-icone" item-start></ion-icon> Manutenção
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h2 ion-text>
                {{ chamado.TipoServico }} / {{ chamado.Causa }} / {{ chamado.Mantenedor }}
              </h2>
            </ion-col>

            <ion-col col-12>
              <p ion-text>
                <b>
                  Causa
                </b>
              </p>
              <p ion-text>
                {{ chamado.DescricaoOcorrencia }}
              </p>
            </ion-col>

            <ion-col col-12>
              <p ion-text>
                <b>
                  Local
                </b>
              </p>
              <p ion-text>
                {{ chamado.LocalizacaoEquipamento }}
              </p>
            </ion-col>

            <ion-col col-12>
              <p ion-text>
                <b>
                  Equipamento
                </b>
              </p>
              <p ion-text>
                {{ chamado.Equipamento }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>