// Global
ion-icon {
  &[class*="custom-"] {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-qrcode"] {
    background-image: url(../assets/imgs/qr-code.svg);
  }

  &[class*="custom-brazil"] {
    background-image: url(../assets/imgs/brazil.svg);
  }

  &[class*="custom-united-states"] {
    background-image: url(../assets/imgs/united-states.svg);
  }

  &[class*="custom-spain"] {
    background-image: url(../assets/imgs/spain.svg);
  }
}

.texto-obrigatorio{
  color: map-get($colors, cushman-1);
  font-weight: bold;
  float: right;
}

//Anexos
.item-lista-anexo{
  padding-left: 5px;
  border-left: 5px solid map-get($colors, cushman-2);
}

.thumb-fotos{
  min-height: 200px;
  background-size: cover;
}

.icone-excluir-foto{
  margin: 0px !important;
  width: 25px !important;
  height: 25px !important;
}

//Alertas
.toast-danger > .toast-wrapper{
  background-color: #F2DEDE;
  border: 1px solid #EACBCF;
}

.toast-danger > .toast-wrapper > .toast-container > .toast-message,
.toast-danger > .toast-wrapper > .toast-container > .toast-button {
  color: #AD4F5F !important;
}

.toast-success > .toast-wrapper{
  background-color: #DFF0D8;
  border: 1px solid #D8EACA;
}

.toast-success > .toast-wrapper > .toast-container > .toast-message,
.toast-success > .toast-wrapper > .toast-container > .toast-button {
  color: #517830 !important;
}

.toast-warning > .toast-wrapper{
  background-color: #F8F3D6;
  border: 1px solid #FAEBCF;
}

.toast-warning > .toast-wrapper > .toast-container > .toast-message,
.toast-warning > .toast-wrapper > .toast-container > .toast-button {
  color: #A67443 !important;
}

.toast-wrapper{
  font-weight: bold;
}

// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

//Chamado
.card-header-chamado{
  background-color:  map-get($colors, cushman-2);
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card-icone{
  font-size: 25px;
  margin-right: 10px;
}

.card-note{
  float: right;
}

.card-icone-texto{
  position: absolute;
  bottom: 0;
}

.card-icone-h1{
  text-align: right;
  margin-right: 10px !important;
  font-size: 1.4em;
}

//Home
.icone-home{
  padding-right: 5px !important;
}

//Home Offline
.conteudo-offline{
  margin-top: 15%;
  text-align: center; 
}

.botoes-offline{
  margin-top: 15%;
  text-align: center; 
}

.icone-info{
  font-size: 30px;
}

.icone-download-estrutura{
  font-size: 27px;
  width: 42px;
  height: 42px;
  line-height: 40px;
}

//Lista Chamados
.item-lista-chamado{
  padding-left: 0px;
  border-left: 5px solid map-get($colors, cushman-2);
}

// Login
.auth-page {
  background-color: #fff;
  background: url("../assets/imgs/bg.jpg") no-repeat;
  &::after {
    content: "";
    background: url("../assets/imgs/bg.jpg") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 86%;
      height: 85%;
      
      .logo {
        width: 197px;
        height: 208px;
        margin: 0px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logo.png") no-repeat;
        background-size: 100%;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.btn-login{
    margin-top: 7%;
}

.login-idioma{
  right: 10px; 
  top: 25px; 
  position: absolute;
}

.login-idioma > .bar-buttons > .icon > .select > .select-text, 
.login-idioma > .bar-buttons > .icon > .select > .select-icon{
  display: none !important;
}

//Movimentação
.item-movimentacao{
  padding-left: 0px;
}

//Materiais
.item-lista-material{
  padding-left: 5px;
  border-left: 5px solid map-get($colors, cushman-2);
}

.icone-material, .item-valor-total{
  float: right;
}

.item-material{
  padding-left: 0px;
}

//Mapa
#mapa{
  height: 100%;
}

//Novo Chamado
.item-novo-chamado{
  padding-left: 0px;
}

.item-altura-fab{
  height: 70px;
}

//Rotina
.item-rotina{
  padding-left: 0px;
}