<ion-header>

  <ion-navbar color="cushman-1">
    <ion-title>{{ "dadosBasicos" | translate }} {{ chamadoId }}</ion-title>
    <ion-buttons start>
      <button (click)="fotoClick()" *ngIf="tipoChamado == 'Fotos'" ion-button icon-only tappable>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="salvarChamadoClick()" *ngIf="tipoChamado != 'Chamado'" [disabled]="!chamadoForm.valid || (!vinculoMantenedor && !perfilOperador)"
        ion-button icon-only tappable>
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item *ngIf="tipoChamado == 'Fotos' && exibirMsg">
    <ion-icon name="construct" color="cushman-1" item-start></ion-icon>
    {{ 'msgNenhumItem' | translate }}
    <ion-icon (click)="fotoClick()" name="camera" color="cushman-2" item-end tappable></ion-icon>
  </ion-item>

  <form [formGroup]="chamadoForm">
    <ion-grid *ngIf="tipoChamado == 'Dados Básicos'">
      <ion-row>
        <ion-col col>
          <ion-item *ngIf="!exibirCentroCustoOpcoes" class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "centroCusto" + valorTraducao | translate }}
            </ion-label>
            <ion-input formControlName="centroCusto" (keyup.enter)="redimencionarPagina()" (blur)="centroCustoChange($event)" 
            [disabled]="qrCodeCentroCusto" placeholder="{{ 'codigo' | translate }}"></ion-input>
          </ion-item>

          <ion-item *ngIf="exibirCentroCustoOpcoes" class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "centroCusto" + valorTraducao | translate }}
            </ion-label>
            <ion-select formControlName="centroCustoOpcoes" (ionChange)="centroCustoChange($event)" [disabled]="!opcoesCentroCusto || qrCodeCentroCusto"
              interface="action-sheet" cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{centroCusto.CodigoPontoVenda}}" *ngFor="let centroCusto of opcoesCentroCusto">{{centroCusto.CodigoPontoVenda}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "postoAtendimento" + valorTraducao | translate }}
            </ion-label>
            <ion-select formControlName="postosAtendimento" (ionChange)="postoAtendimentoChange($event)" [disabled]="!opcoesPontosVenda || qrCodePostosAtendimento"
              interface="action-sheet" cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{pontoVenda.PontoVendaID}}" *ngFor="let pontoVenda of opcoesPontosVenda">{{pontoVenda.NomePontoVenda}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="postosAtendimento.value && pontoVenda">
        <ion-col col class="item-novo-chamado">
          <ion-card>
            <ion-card-header class="card-header-chamado">
              <ion-icon ios="ios-locate-outline" name="locate" class="card-icone" item-start></ion-icon>
              {{ "postoAtendimento" + valorTraducao | translate }}
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <p ion-text>
                      {{ pontoVenda.Endereco }}
                    </p>
                    <p ion-text>
                      {{ pontoVenda.Cidade }} / {{ pontoVenda.Estado }}
                    </p>
                    <p ion-text>
                      {{ pontoVenda.CEP }}
                    </p>
                  </ion-col>

                  <ion-col col-12>
                    <p ion-text>
                      <b>
                        {{ "diretoriaRegional" | translate }}
                      </b>
                    </p>
                    <p ion-text>
                      {{ pontoVenda.NomeGrupoPontoVenda }}
                    </p>
                  </ion-col>

                  <ion-col col-10>
                    <p ion-text>
                      <b>
                        {{ "regiao" | translate }}
                      </b>
                    </p>
                    <p ion-text>
                      {{ pontoVenda.NomeSubGrupoPontoVenda }}
                    </p>
                  </ion-col>


                  <ion-col col-2>
                    <h1 ion-text class="card-icone-h1">
                      <ion-icon (click)="mapaClick(pontoVenda)" name="pin" color="cushman-1" class="card-icone-texto" tappable></ion-icon>
                    </h1>
                  </ion-col>

                  <ion-col col-12>
                    <p ion-text>
                      <b>
                        {{ "gerente" | translate }}
                      </b>
                    </p>
                    <p ion-text>
                      {{ pontoVenda.NomeGerente }}
                    </p>
                    <ion-col col-10 class="item-card-contato">
                      <p ion-text>
                        {{ pontoVenda.Telefone }}
                      </p>
                    </ion-col>
                    <ion-col col-2 class="item-card-contato">
                      <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1 icone-contato-telefone">
                        <a href="tel:{{ pontoVenda.Telefone }}">
                          <ion-icon name="call" color="cushman-2" class="card-icone-texto"></ion-icon>
                        </a>
                      </h1>
                    </ion-col>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="exibirSolicitante">
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "nomeSolicitante" | translate }}
            </ion-label>
            <ion-input formControlName="solicitante" (keyup.enter)="redimencionarPagina()" [disabled]="perfilOperador" placeholder="{{ 'solicitante' | translate }}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="exibirEmail">
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "emailSolicitante" | translate }}
            </ion-label>
            <ion-input formControlName="email" (keyup.enter)="emailChange()" (blur)="emailChange()" [disabled]="perfilOperador" placeholder="E-mail"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="exibirRamal">
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              {{ "ramalSolicitante" | translate }}
            </ion-label>
            <ion-input formControlName="ramal" (keyup.enter)="redimencionarPagina()" [disabled]="perfilOperador" placeholder="{{ 'ramal' | translate }}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="tipoChamado == 'Problema'">
      <ion-row>
        <ion-col col>
          <ion-item class="item-movimentacao">
            <ion-label stacked color="cushman-3">{{ "descricaoProblema" | translate }}</ion-label>
            <ion-textarea formControlName="descricao" placeholder="{{ 'preenchaDescricao' | translate }}"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "tipoServico" | translate }}
            </ion-label>
            <ion-select formControlName="tiposServico" (ionChange)="tiposServicoChange($event)" [disabled]="!opcoesTiposServico || qrCodeTiposServico" interface="action-sheet"
              cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{tipoServico.TipoServicoID}}" *ngFor="let tipoServico of opcoesTiposServico">{{tipoServico.NomeTipoServico}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3"> {{ "causa" | translate }}</ion-label>
            <ion-select formControlName="causas" [disabled]="!opcoesSubtipos" interface="action-sheet" cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{subtipo.SubtipoServicoID}}" *ngFor="let subtipo of opcoesSubtipos">{{subtipo.Descricao}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!perfilOperador">
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              SLA
            </ion-label>
            <ion-select formControlName="sla" (ionChange)="slaChange($event)" [disabled]="!opcoesCriticidades" interface="action-sheet"
              cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{criticidade.CriticidadeID}}" *ngFor="let criticidade of opcoesCriticidades">{{criticidade.Descricao}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="sla.value && valorSla">
        <ion-col col class="item-novo-chamado">
          <ion-card>
            <ion-card-header class="card-header-chamado">
              <ion-icon ios="ios-alarm-outline" name="alarm" class="card-icone" item-start></ion-icon>
              {{ "tempos" | translate }}
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <h1 ion-text>
                      SLA {{valorSla.Sla}}
                    </h1>
                  </ion-col>
                  <ion-col col-6>
                    <p ion-text>
                      <b>
                        {{ "previsaoAtendimento" | translate }}
                      </b>
                    </p>
                    <p ion-text>
                      {{ valorSla.DataPrevistaAtendimento | date : "dd/MM/yyyy HH:mm" }}
                    </p>
                  </ion-col>
                  <ion-col col-6>
                    <p ion-text>
                      <b>
                        {{ "previsaoSolucao" | translate }}
                      </b>
                    </p>
                    <p ion-text>
                      {{ valorSla.DataPrevistaSolucao | date : "dd/MM/yyyy HH:mm" }}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!perfilOperador || exibirMantenedores">
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              <div class="texto-obrigatorio"> * </div>
              {{ "mantenedor" | translate }}
            </ion-label>
            <ion-select formControlName="mantenedores" (ionChange)="mantenedorChange($event)" [disabled]="!opcoesMantenedores" interface="action-sheet"
              cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{mantenedor.MantenedorID}}" *ngFor="let mantenedor of opcoesMantenedores">{{mantenedor.Nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              {{ "localizacao" | translate }}
            </ion-label>
            <ion-select formControlName="localizacoes" (ionChange)="localizacoesChange($event)" [disabled]="!opcoesLocalizacoes" interface="action-sheet"
              cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{localizacao.LocalizacaoPontoVendaID}}" *ngFor="let localizacao of opcoesLocalizacoes">{{localizacao.DescricaoLocalizacao}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="exibirCodigoEstacao">
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              {{ "codigoEstacao" | translate }}
            </ion-label>
            <ion-input formControlName="codigoEstacao" (keyup.enter)="redimencionarPagina()" placeholder="{{ 'codigo' | translate }}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">
              {{ "equipamento" | translate }}
            </ion-label>
            <ion-select formControlName="equipamentos" [disabled]="!opcoesEquipamentos" interface="action-sheet" cancelText="{{ 'cancelar' | translate }}">
              <ion-option value="{{equipamento.EquipamentoID}}" *ngFor="let equipamento of opcoesEquipamentos">{{equipamento.NomeEquipamento}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="tipoChamado == 'Fotos'">
      <ion-row *ngIf="fotos">
        <ion-col *ngFor="let foto of fotos; let id = index" col-6 col-md-4 col-xl-3>
          <img (click)="abrirFotoClick(id)" *ngIf="foto" [src]="foto.Base64" class="thumb-fotos" tappable/>
          <!-- <div ></div> -->
          <ion-fab right top>
            <button (click)="excluirFotoClick(id)" mini ion-fab color="cushman-1" class="icone-excluir-foto" tappable>
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div *ngIf="chamado && tipoChamado == 'Chamado'">
    <ion-card *ngIf="chamado">
      <ion-card-header class="card-header-chamado">
        <ion-icon ios="ios-alarm-outline" name="alarm" class="card-icone" item-start></ion-icon>
        {{ "tempos" | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12 *ngIf="chamado.Criticidade">
              <h1 ion-text>
                SLA {{chamado.Criticidade}} - {{chamado.Nivel}}
              </h1>
            </ion-col>

            <ion-col col-6>
              <p ion-text>
                <b>
                  {{ "dataAbertura" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.DataAbertura | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </ion-col>
            <ion-col col-6 *ngIf="chamado.DataPrevistaAtendimento">
              <p ion-text>
                <b>
                  {{ "previsaoAtendimento" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.DataPrevistaAtendimento | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-note class="card-note">
                {{ chamado.StatusChamado }}
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header-chamado">
        <ion-icon ios="ios-locate-outline" name="locate" class="card-icone" item-start></ion-icon>
        {{ "localizacao" | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1 ion-text>
                {{ nomePortal }}
              </h1>
            </ion-col>

            <ion-col col-10>
              <p ion-text>
                {{ chamado.NomePontoVenda }}
              </p>
              <p ion-text>
                {{ chamado.Endereco }}
              </p>
              <p ion-text>
                {{ chamado.Cidade }} / {{ chamado.Estado }}
              </p>
              <p ion-text>
                {{ chamado.CEP }}
              </p>

            </ion-col>
            <ion-col col-2>
              <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1">
                <ion-icon (click)="mapaClick(chamado)" name="pin" color="cushman-1" class="card-icone-texto" tappable></ion-icon>
              </h1>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header-chamado">
        <ion-icon name="contact" class="card-icone" item-start></ion-icon>
        {{ "contato" | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <p ion-text>
                <b>
                  {{ "solicitante" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.NomeDoSolicitanteOperador }}
              </p>

              <ion-col col-10 class="item-card-contato">
                <p ion-text>
                  {{ chamado.EmailDoSolicitanteOperador }}
                </p>
              </ion-col>
              <ion-col *ngIf="chamado.EmailDoSolicitanteOperador" col-2 class="item-card-contato">
                <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1">
                  <a href="mailto:{{ chamado.EmailDoSolicitanteOperador }}">
                    <ion-icon name="at" color="cushman-2" class="card-icone-texto"></ion-icon>
                  </a>
                </h1>
              </ion-col>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12>
              <p ion-text>
                <b>
                  {{ "gerente" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.NomeUsuarioSolicitante }}
              </p>

              <ion-col col-10 class="item-card-contato">
                <p ion-text>
                  {{ chamado.EmailSolicitante }}
                </p>
              </ion-col>
              <ion-col *ngIf="chamado.EmailSolicitante" col-2 class="item-card-contato">
                <h1 ion-text *ngIf="!origemOffline" class="card-icone-h1">
                  <a href="mailto:{{ chamado.EmailSolicitante }}">
                    <ion-icon name="at" color="cushman-2" class="card-icone-texto"></ion-icon>
                  </a>
                </h1>
              </ion-col>


              <ion-col col-10 class="item-card-contato">
                <p ion-text>
                  {{ chamado.TelefoneSolicitante }}
                </p>
                <p ion-text>
                  {{ chamado.RamalSolicitante }}
                </p>
              </ion-col>
              <ion-col *ngIf="chamado.TelefoneSolicitante" col-2 class="item-card-contato">
                <h1 ion-text class="card-icone-h1 icone-contato-telefone">
                  <a href="tel:{{ chamado.TelefoneSolicitante }}">
                    <ion-icon name="call" color="cushman-2" class="card-icone-texto"></ion-icon>
                  </a>
                </h1>
              </ion-col>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-header-chamado">
        <ion-icon name="build" class="card-icone" item-start></ion-icon>
        {{ "manutencao" | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h2 ion-text>
                {{ chamado.TipoServico }} / {{ chamado.Causa }} / {{ chamado.Mantenedor }}
              </h2>
            </ion-col>

            <ion-col col-12>
              <p ion-text>
                <b>
                  {{ "causa" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.DescricaoOcorrencia }}
              </p>
            </ion-col>

            <ion-col col-12>
              <p ion-text>
                <b>
                  {{ "localizacao" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.LocalizacaoEquipamento }}
              </p>
            </ion-col>

            <ion-col col-12>
              <p ion-text>
                <b>
                  {{ "equipamento" | translate }}
                </b>
              </p>
              <p ion-text>
                {{ chamado.Equipamento }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="item-altura-fab"></div>

  <ion-fab *ngIf="tipoChamado == 'Dados Básicos'" bottom right>
    <button (click)="navegarClick('Problema')" ion-fab color="cushman-2" tappable>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngIf="tipoChamado == 'Problema'" bottom left>
    <button (click)="navegarClick('Dados Básicos')" ion-fab color="cushman-2" tappable>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngIf="tipoChamado == 'Problema'" bottom right>
    <button (click)="navegarClick('Fotos')" ion-fab color="cushman-2" tappable>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngIf="tipoChamado == 'Fotos'" bottom left>
    <button (click)="navegarClick('Problema')" ion-fab color="cushman-2" tappable>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngIf="tipoChamado == 'Fotos'" bottom right>
    <button (click)="salvarChamadoClick()" [disabled]="!chamadoForm.valid || (!vinculoMantenedor && !perfilOperador)" color="cushman-2"
      ion-fab tappable>
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngIf="tipoChamado == 'Chamado'" bottom right>
    <button (click)="homeClick()" ion-fab color="cushman-1" tappable>
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
</ion-content>