<ion-header>

  <ion-navbar color="cushman-1">
    <ion-title>Novo Material</ion-title>
    <ion-buttons end>
      <button (click)="salvarMaterialClick()" [disabled]="!materiaisForm.valid" ion-button icon-only>
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
  <form [formGroup]="materiaisForm">
    <ion-grid>
      <ion-row>
        <ion-col col>
          <ion-item class="item-material">
            <ion-label stacked color="cushman-3">Aplicações <div class="texto-obrigatorio"> * </div></ion-label> 
            <ion-select formControlName="aplicacoes" [disabled]="!opcoesTiposServico" interface="action-sheet"
              cancelText="Cancelar">
              <ion-option value="{{tipoServico.TipoServicoID}}" *ngFor="let tipoServico of opcoesTiposServico">{{tipoServico.NomeTipoServico}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col>
          <ion-item class="item-material">
            <ion-label stacked color="cushman-3">Marca <div class="texto-obrigatorio"> * </div></ion-label>
            <ion-select  formControlName="marcas" (ionChange)="marcasChange($event)" [disabled]="!opcoesMarcasMaterial"
              interface="action-sheet" cancelText="Cancelar">
              <ion-option value="{{marcaMaterial.MarcaMaterialID}}" *ngFor="let marcaMaterial of opcoesMarcasMaterial">{{marcaMaterial.NomeMarcaMaterial}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col>
          <ion-item class="item-material">
            <ion-label stacked color="cushman-3">Modelo <div class="texto-obrigatorio"> * </div></ion-label>
            <ion-select  formControlName="modelos" (ionChange)="modelosChange($event)" [disabled]="!opcoesModelosMaterial" interface="action-sheet"
              cancelText="Cancelar">
              <ion-option value="{{modeloMaterial.ModeloMaterialID}}" *ngFor="let modeloMaterial of opcoesModelosMaterial">{{modeloMaterial.NomeModeloMaterial}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="modelos.value && modelo">
        <ion-col col class="item-novo-chamado">
          <ion-card>
            <ion-card-header class="card-header-chamado">
              <ion-icon name="build" class="card-icone" item-start></ion-icon> Valores
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-4>
                    <p ion-text>
                      <b>
                        Potência
                      </b>
                    </p>
                    <p ion-text>
                      {{ modelo.Potencia }}
                    </p>
                  </ion-col>
                  <ion-col col-4>
                    <p ion-text>
                      <b>
                        Capacidade
                      </b>
                    </p>
                    <p ion-text>
                        {{ modelo.Capacidade }}
                    </p>
                  </ion-col>
                  <ion-col col-4>
                    <p ion-text>
                      <b>
                        Valor Unitário
                      </b>
                    </p>
                    <p ion-text>
                        {{ modelo.ValorUnitario }}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col>
          <ion-item class="item-novo-chamado">
            <ion-label stacked color="cushman-3">Quantidade <div class="texto-obrigatorio"> * </div></ion-label>
            <ion-input formControlName="quantidade" (keyup.enter)="redimencionarPagina()" type="number" placeholder="Quantidade"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col>
          <button (click)="salvarMaterialClick()" [disabled]="!materiaisForm.valid" ion-button full color="cushman-2">Salvar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>